@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  --color-orange: #fe753e;
  --color-dark: #2b2c43;
  --color-grey: #f6f6fb;
  --color-blue: #2e47bd;
  --color-orange-rgba-1: rgba(254, 117, 62, 1);
  --color-blue-rgba-1: rgba(46, 71, 189, 1);
  --color-orange-rgba-08: rgba(254, 117, 62, 0.8);
  --color-blue-rgba-08: rgba(46, 71, 189, 0.8);
}

.break {
  flex-basis: 100%;
  height: 0;
}

h1,
h2,
h3,
h4 {
  font-family: 'Abril Fatface', cursive;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 1236px;
  position: relative;
}

.btn {
  /*width: 130px;*/
  height: 50px;
  font-size: 16px;

  color: #fff;
  border: none;
  border-radius: 5px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.btn-orange {
  background-color: var(--color-orange-rgba-1);
}

.btn-orange:hover {
  background-color: var(--color-orange-rgba-08);
}

.btn-blue {
  background-color: var(--color-blue-rgba-1);
}

.btn-blue:hover {
  background-color: var(--color-blue-rgba-08);
}

.btn-transparent {
  background-color: transparent;
  color: var(--color-dark);
}

.rect_overlay {
  position: absolute;
  width: 838px;
  height: 949px;
  /*right: 0;*/
  right: 0;
  top: 0;
  background-image: url('../img/rect.svg');
  z-index: -1;
  background-repeat: no-repeat;
}

.rounded_corner_10 {
  border-radius: 10px;
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 0;
}

p.custom {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.02em;
  color: var(--color-dark);
}

header .btn-orange {
  padding: 9px 30px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
  color: var(--color-dark);
}

.nav__links li a.selected {
  color: var(--color-orange);
}

.nav__links li a:hover {
  color: var(--color-orange);
}

.intro {
  display: flex;
  justify-content: normal;
  overflow: initial;
  flex-wrap: wrap;
  /*position: relative;*/
}

.section_head {
  font-size: 1.125rem;
  font-weight: bold;
  color: var(--color-orange);
  line-height: 22px;
  /* identical to box height */
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin-bottom: 34px;
}

.intro h1,
.about-us__right h1 {
  font-size: 3.375rem;

  font-weight: normal;
  width: 628px;
  padding: 36px 0;
  letter-spacing: 0.02em;
  line-height: 1.23;

  /*background-color: red;*/
}

.intro small {
  display: inline-block;
  max-width: 487px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.02em;
  color: var(--color-dark);
  opacity: 0.6;
}

.intro__section_pic {
  position: absolute;
  /*display: inline-block;*/
  right: 21px;
  border-radius: 10px;
  /*width: 775px;*/
  height: 545px;
  margin-left: -178px;
  z-index: -1;
}

.intro__buttons {
  padding: 63px 0;
}

.intro__buttons > .btn {
  padding: 9px 30px;
}

.intro__buttons > .btn-transparent > img {
  vertical-align: middle;
  padding: 0 10px 0 0;
}

.intro_scroll_down_btn {
  margin: 100px;
}

.intro_scroll_down_btn > .btn > img {
  vertical-align: middle;
  padding: 0 10px 0 0;
}

#about-us {
  margin-top: 171px;
  display: flex;
  justify-content: space-between;
}
.about-us__right {
  max-width: 562px;
}
.about-us__right h1 {
  font-size: 2rem;
}
.about-us__right p {
  opacity: 0.7;
}

.best_menu {
  background-color: var(--color-grey);
  text-align: center;
  padding: 70px 0;
}

.menu_section {
  display: flex;
  justify-content: space-between;
}

.menu_header {
  position: relative;
  z-index: 1;
}
.menu_header > img {
  z-index: inherit;
}
.menu_footer {
  position: relative;
  max-width: 400px;
  max-height: 246px;
  background-color: #fff;
  margin-top: -13px;
  z-index: 2;
}

.menu_footer h3 {
  font-family: 'Lato';
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */

  letter-spacing: 0.02em;
  padding: 43px;
}

.menu_footer p {
  display: block;
  max-width: 270px;
  max-height: 50px;
  margin-left: 43px;
  opacity: 0.5;
}

.menu_footer a.read_more {
  display: block;
  text-align: left;
  line-height: 19px;
  letter-spacing: 0.02em;
  color: var(--color-blue);
  padding-top: 48px;
  padding-bottom: 48px;
  margin-left: 43px;
}
